body {
	margin-bottom: 20px;
}


.form-margin{
		margin-top:40px;

}

#filterbtn{
	width: 900px;
}


label {
	margin-right: 15px;

}

label > select {
	margin-top: 5px;
}

label:hover {
	 background: #f3f3f3;
}

