<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">



</head>
<!-- NAVBAR
================================================== -->

<body>

	<!-- template for the Modal
================================================== -->
	<template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Thank You</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Thank you for Your Submission  &hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</template>
<template ngbModalContainer></template>



<!--=======================FORM  FOR THE APP===============================================================---->

	<div class="container col-sm-6 col-sm-offset-3">
		<form class="form-group" style="margin-bottom:10px" (ngSubmit)="addForm(log)" >
			<div class="row">
				<label> <h5><i class="fa fa-user" aria-hidden="true"></i> Users</h5></label>
			</div>
			<div class="row">
				<select [(ngModel)]="log.userId" name="userId" class="form-control">
							<option [value]="user.userId" *ngFor="let user of users">{{ user.fName}} {{user.lName}}</option>
				</select>
			</div>

			<div class="row">
				<label>
					<h5><i class="fa fa-phone-square" aria-hidden="true"></i> Reason For Call</h5>
				</label>
			</div>

			<div class="row">
				<select [(ngModel)]="log.reasonId" name="reasonId" class="form-control ">
							<option [value]="reason.reasonId" *ngFor="let reason of reasons">{{ reason.reasonsName }}</option>
				</select>
			</div>

			<div class="row">
				<label>
					<h5><i class="fa fa-star" aria-hidden="true"></i> Positions</h5>
				</label>
			</div>
			<div class="row">
				<select [(ngModel)]="log.positionId" name="positionId" class="form-control ">
							<option [value]="position.positionId" *ngFor="let position of positions">{{ position.positionName }}</option>
				</select>
			</div>

			<div class="row"  id=" radio-toolbar">
				<div ngbRadioGroup name="radioBasic">
					<label class="btn btn-primary active">
							<input [(ngModel)]="log.contactId" name="contactId" type="radio" [value]="1"> Phone
					</label>
					<label class="btn btn-primary active">
							<input [(ngModel)]="log.contactId" name="contactId" type="radio" [value]="2"> Email
					</label>
				</div>
			</div>
		<div class="row">
			<button type="submit" class="btn btn-primary active" (click)="open(content)" >Submit</button>
		</div>
		</form>

</div>

</body>

</html>